Repository GetStream/stream-chat-swift: changes, and which Codecov flags are due for each by the changed paths.
All: stream-chat, stream-chat-ui

codecov.yml:

flags:
  stream-chat:
    paths:
      - Sources/StreamChat/
  stream-chat-ui:
    paths:
      - Sources/StreamChatUI/
ignore:
  - "Tests/**/*"
  - "**/*_Tests.swift"
  - "**/*_Mock.swift"
  - "**/*_Vendor.swift"
  - "**/Generated/*.swift"
github_checks:
    annotations: false

Fix typing actions not keeping controller alive
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Workers/TypingEventsSender_Mock.swift
Due: stream-chat

Fix recreating API client on disconnect
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/APIClient/APIClient_Mock.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Tests.swift
Due: stream-chat

Update CHANGELOG.md
  CHANGELOG.md
Due: none

disable other some checks for faster feedback
  .github/workflows/smoke-checks.yml
Due: none

Remove deprecations from code cov
  .github/workflows/smoke-checks.yml
  codecov.yml
Due: none

Remove Codecov config
  .github/workflows/smoke-checks.yml
Due: none

[CIS-1221] Fix crash happening after `ChatClient.disconnect` call (#1532)
  CHANGELOG.md
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/APIClient/APIClient_Mock.swift
  Sources/StreamChat/ChatClient.swift
  Sources/StreamChat/ChatClient_Tests.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController_Tests.swift
  Sources/StreamChat/Workers/TypingEventsSender_Mock.swift
Due: stream-chat

updated match_me lane to include the SwiftUI demo app id
  fastlane/Fastfile
Due: none

revert flags
  .github/workflows/smoke-checks.yml
  codecov.yml
Due: none

Add emerge workflow
  .github/workflows/emerge.yml
Due: none

Fix new messages flickering animation
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
Due: stream-chat-ui

Fix crash on iPad when sharing from `GalleryVC`
  CHANGELOG.md
  Sources/StreamChatUI/Gallery/GalleryVC.swift
Due: stream-chat-ui

Fix testflight lane
  fastlane/Fastfile
Due: none

[CIS-1220] Fix crash on iPad when sharing from `GalleryVC` (#1537)
  CHANGELOG.md
  Sources/StreamChatUI/Gallery/GalleryVC.swift
Due: stream-chat-ui

Fix incorrect SHA passed to github action
  .github/workflows/emerge.yml
  fastlane/Fastfile
Due: none

Introduce emerge uploads
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
Due: none

Set LLC Tests device
  .github/workflows/smoke-checks.yml
Due: none

Change code coverage required range
  codecov.yml
Due: none

Use macos-11 with Xcode 12.5
  .github/workflows/distribute-test-build.yml
  .github/workflows/emerge.yml
  .github/workflows/full-checks.yml
  .github/workflows/macos-checks.yml
  .github/workflows/smoke-checks.yml
  .github/workflows/testflight.yml
Due: none

Revert "Change code coverage required range"
  codecov.yml
Due: none

Fix UI Tests for Xcode 12.5
  .github/actions/prepare-ios-simulator/action.yml
  .github/workflows/smoke-checks.yml
Due: none

[CIS-1211] Fix new messages flickering (#1536)
  .github/actions/prepare-ios-simulator/action.yml
  .github/workflows/distribute-test-build.yml
  .github/workflows/emerge.yml
  .github/workflows/full-checks.yml
  .github/workflows/macos-checks.yml
  .github/workflows/smoke-checks.yml
  .github/workflows/testflight.yml
  CHANGELOG.md
  Sources/StreamChatUI/ChatMessageList/ChatMessageListView.swift
Due: stream-chat-ui

Fix cancel-in-progress on main branch
  .github/workflows/distribute-test-build.yml
  .github/workflows/emerge.yml
  .github/workflows/macos-checks.yml
  .github/workflows/smoke-checks.yml
Due: none

Update README.md
  README.md
Due: none

updated match_me lane to include the SwiftUI demo app id (#1535)
  fastlane/Fastfile
Due: none

Fix API requests being cancelled on first connect
  CHANGELOG.md
  Sources/StreamChat/Workers/ChatClientUpdater.swift
  Sources/StreamChat/Workers/ChatClientUpdater_Tests.swift
Due: stream-chat

[CIS-1223] Fix API requests being cancelled on first connect (#1538)
  CHANGELOG.md
  Sources/StreamChat/Workers/ChatClientUpdater.swift
  Sources/StreamChat/Workers/ChatClientUpdater_Tests.swift
Due: stream-chat

Bump 4.1.0
  CHANGELOG.md
  Sources/StreamChat/Generated/SystemEnvironment+Version.swift
  Sources/StreamChat/Info.plist
  Sources/StreamChatUI/Info.plist
  StreamChat.podspec
  StreamChatUI.podspec
Due: stream-chat, stream-chat-ui

use better resources
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern1.imageset/01.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern1.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern1.imageset/pattern1.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern2.imageset/02.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern2.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern2.imageset/pattern2.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern3.imageset/03.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern3.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern3.imageset/pattern3.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern4.imageset/04.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern4.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern4.imageset/pattern4.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern5.imageset/07.pdf
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern5.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern5.imageset/pattern5.pdf
Due: stream-chat-ui

kill Any delegates
  Sources/StreamChat/Controllers/ChannelController/ChannelController+Combine.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController+SwiftUI.swift
  Sources/StreamChat/Controllers/ChannelController/ChannelController.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController+Combine.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController+SwiftUI.swift
  Sources/StreamChat/Controllers/ChannelListController/ChannelListController.swift
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController+Combine.swift
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController+SwiftUI.swift
  Sources/StreamChat/Controllers/ChannelWatcherListController/ChatChannelWatcherListController.swift
  Sources/StreamChat/Controllers/ConnectionController/ConnectionController+Combine.swift
  Sources/StreamChat/Controllers/ConnectionController/ConnectionController+SwiftUI.swift
  Sources/StreamChat/Controllers/ConnectionController/ConnectionController.swift
  Sources/StreamChat/Controllers/Controller.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController+Combine.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController+SwiftUI.swift
  Sources/StreamChat/Controllers/CurrentUserController/CurrentUserController.swift
  Sources/StreamChat/Controllers/EventsController/EventsController+Combine.swift
  Sources/StreamChat/Controllers/EventsController/EventsController+SwiftUI.swift
  Sources/StreamChat/Controllers/EventsController/EventsController.swift
  Sources/StreamChat/Controllers/MemberController/MemberController+Combine.swift
  Sources/StreamChat/Controllers/MemberController/MemberController+SwiftUI.swift
  Sources/StreamChat/Controllers/MemberController/MemberController.swift
  Sources/StreamChat/Controllers/MemberListController/MemberListController+Combine.swift
  Sources/StreamChat/Controllers/MemberListController/MemberListController+SwiftUI.swift
  Sources/StreamChat/Controllers/MemberListController/MemberListController.swift
  Sources/StreamChat/Controllers/MessageController/MessageController+Combine.swift
  Sources/StreamChat/Controllers/MessageController/MessageController+SwiftUI.swift
  Sources/StreamChat/Controllers/MessageController/MessageController.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController+Combine.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController+SwiftUI.swift
  Sources/StreamChat/Controllers/SearchControllers/MessageSearchController/MessageSearchController.swift
  Sources/StreamChat/Controllers/SearchControllers/UserSearchController/UserSearchController.swift
  Sources/StreamChat/Controllers/UserController/UserController+Combine.swift
  Sources/StreamChat/Controllers/UserController/UserController+SwiftUI.swift
  Sources/StreamChat/Controllers/UserController/UserController.swift
  Sources/StreamChat/Controllers/UserListController/UserListController+Combine.swift
  Sources/StreamChat/Controllers/UserListController/UserListController+SwiftUI.swift
  Sources/StreamChat/Controllers/UserListController/UserListController.swift
Due: stream-chat

classes vs structs
  Sources/StreamChat/APIClient/ChatRemoteNotificationHandler.swift
  Sources/StreamChat/APIClient/Endpoints/Payloads/ChannelListPayload.swift
  Sources/StreamChat/WebSocketClient/Events/ChannelEvents.swift
  Sources/StreamChat/WebSocketClient/Events/ConnectionEvents.swift
  Sources/StreamChat/WebSocketClient/Events/EventPayload.swift
  Sources/StreamChat/WebSocketClient/Events/MemberEvents.swift
  Sources/StreamChat/WebSocketClient/Events/MessageEvents.swift
  Sources/StreamChat/WebSocketClient/Events/NotificationEvents.swift
  Sources/StreamChat/WebSocketClient/Events/ReactionEvents.swift
  Sources/StreamChat/WebSocketClient/Events/TypingEvent.swift
  Sources/StreamChat/WebSocketClient/Events/UserEvents.swift
Due: stream-chat

Implement release lane optimisations
  fastlane/Fastfile
  fastlane/README.md
Due: none

Update fastlane
  Gemfile.lock
Due: none

Improve Logger experience
  CHANGELOG.md
  Sources/StreamChat/APIClient/APIClient.swift
  Sources/StreamChat/APIClient/CDNClient.swift
  Sources/StreamChat/APIClient/RequestDecoder.swift
  Sources/StreamChat/APIClient/RequestEncoder.swift
  Sources/StreamChat/Database/DatabaseContainer.swift
  Sources/StreamChat/Utils/Logger/Destination/BaseLogDestination.swift
  Sources/StreamChat/Utils/Logger/Destination/LogDestination.swift
  Sources/StreamChat/Utils/Logger/Logger.swift
  Sources/StreamChat/WebSocketClient/Engine/URLSessionWebSocketEngine.swift
  Sources/StreamChat/WebSocketClient/WebSocketClient.swift
Due: stream-chat

content files
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern1.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern2.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern3.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern4.imageset/Contents.json
  Sources/StreamChatUI/Resources/Assets.xcassets/pattern5.imageset/Contents.json
Due: stream-chat-ui
